@charset "UTF-8";

@import URL('https://fonts.googleapis.com/css?family=Montserrat');
@import URL('https://fonts.googleapis.com/css?family=Fraunces');

body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'montserrat';
    color:hsl(228, 12%, 48%);
    font-size: 14px;
}

.card{
    margin: auto;
    width: 600px;
    height: 450px;
    display: flex;
    align-items: center;
}

.image{
    border-radius: 10px 0px 0px 10px;
    background-image:url(images/image-product-desktop.jpg);
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 100%;
}

.description{
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    padding: 5%;
    width: 40%;
    height: 87%;
    background-color: hsl(0, 0%, 100%);
    flex-wrap: wrap;
}

.description_subtitle{
    margin-top: 0%;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: smaller;
    font-weight: 500;
}

.description_title{
    line-height: 1em;
    font-size: 32px;
    color:hsl(212, 21%, 14%);
    font-family: 'fraunces';
    font-weight: 700;
}

.description_text{
    margin-bottom: 0%;
    line-height: 1.5em;
    font-weight: 500;
}

.price{
    align-items: center;
    display: flex;
    gap:20px;
}

.price_discount{
    color: hsl(158, 36%, 37%);
    font-size: xx-large;
    font-family: 'fraunces';
    font-weight: 700;
}

.price_original{
    text-decoration: line-through;
    font-size: small;
    font-weight: 500;
}

.button{
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    gap:10px;
}
.button_logo{
    width: 15px;
    height: 15px;
}

.button:hover{
    background-color: hsl(157, 36%, 21%);
    cursor: pointer;
}

.button_text{
    color:hsl(0, 0%, 100%);
    font-size: small;
    font-weight: 700;
}

@media only screen and (max-width: 400px) {

    .card{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    
    .image{
        border-radius: 10px 10px 0px 0px;
        background-image:url(/images/image-product-mobile.jpg);
        background-size: contain auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 110%;
        height: 19em;
    }
    
    .description{
        border-radius: 0px 0px 10px 10px;
        width: 100%;
    }

    .description_subtitle{
        margin-top: 5%;
    }

    .description_title{
        font-size: 35px;
    }

    .description_text{
        font-size: 16px;
        line-height: 1.5em;
    }

    .price_discount{
        font-size: 35px;
    }

    .price_original{
        font-size: medium;
    }

    .button_text{
        font-size: medium;
    }


}